* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
}

.main-container {
  background-image: radial-gradient(
    circle 759px at -6.7% 50%,
    rgba(80, 131, 73, 1) 0%,
    rgba(140, 209, 131, 1) 26.2%,
    rgba(178, 231, 170, 1) 50.6%,
    rgba(144, 213, 135, 1) 74.1%,
    rgba(75, 118, 69, 1) 100.3%
  );
  margin: 4rem auto;
  padding: 2rem;
  width: 28%;
  border-radius: 0.7rem;
  box-shadow: 2px 3px 3px rgb(111, 111, 111);
  .section {
    .heading {
      margin-bottom: 1.5rem;
      h2 {
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande";
        font-size: 25px;
        font-weight: bold;
        text-align: center;
        color: rgb(16, 16, 66);
      }
    }
    .content {
      display: flex;
      flex-direction: column;
      label {
        font-family: serif;
        font-size: 17px;
        margin-bottom: 0.6rem;
        font-weight: 300;
      }
      input {
        padding: 8px;
        margin-bottom: 1rem;
        border: 2px solid rgb(200, 195, 195);
        border-radius: 5px;
        font-size: 14px;
        // outline: none;
      }
      button {
        padding: 10px;
        // background-color: turquoise;
        background-color: #ffffff;
        color: #000;
        font-size: 16px;
        border: none;
        outline: none;
        border-radius: 1rem;
        cursor: pointer;
        transition: all 0.4s;
      }
      button:hover {
        // background-color: rgb(57, 205, 190);
        background-color: #ddd;
      }
    }
  }
}

.show-img {
  width: 200px;
  height: 200px;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 2rem;
  border: 2px solid #c1c0c0;
  border-radius: 4px;
  display: none;
  transition: all 0.5s;
  animation: zoom-in-zoom-out;
}
.text {
  font-family: serif;
  font-size: 16px;
  text-align: left;
  display: none;
}

.error {
  animation: shake 0.1s linear 10;
  outline: 2px solid red;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-2px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0px);
  }
}
